$primary: #9d8581;
$info: #3e3d32;
$success: #64a25f;
$warning: #e29227;
$danger: #f44336;



// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-1 {
	background-color: #ecdfd8;	
}

.bg-2 {
	background-color: #889590;
}

.bg-3 {
	background-color: #9d8581;
}

.bg-4 {
	background-color: #b6634a;
}

.bg-5 {
	background-color: #3e3d32;
}